{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}
{# {% block stylesheets %} #}
    {# {{ encore_entry_link_tags('to-list') }} #}
{# {% endblock %} #}
{% block body %}
    
        {# {% for type_name, books_arr in books %}
            {% set genre_arr = genre_name|split('|') %}
            <h2>
                Книги из жанра
                <a href="/books/{{ genre_arr[1] }}">
                    {{ genre_arr[0]|upper }}
                </a>
            </h2> #}
             {# <div><a class="article-link" href="/articles">Добавить статью</a></div> #}
     <div class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-slides owl-carousel">
                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex align-items-center mb-50">
                         {% for article in oneArticles %}
                            <div class="post-thumb">
                                <a href="#"><img src="/investments_directory/{{ article.investment }}" ></a>
                            </div>
                            <div class="post-data">
                                <a href="/articles/{{ article.id }}" class="post-title">
                                    <h6>{{ article.title }}</h6>
                                </a>
                                <div class="post-meta">
                                    <p class="post-date"><a href="#">{{article.published|date("d.m.Y H:i:s")}}</a></p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex align-items-center mb-50">
                            {% for article in twoArticles %}
                            <div class="post-thumb">
                                <a href="#"><img src="/investments_directory/{{ article.investment }}" ></a>
                            </div>
                            <div class="post-data">
                                <a href="/articles/{{ article.id }}" class="post-title">
                                    <h6>{{ article.title }}</h6>
                                </a>
                                <div class="post-meta">
                                    <p class="post-date"><a href="#">{{article.published|date("d.m.Y H:i:s")}}</a></p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <!-- Single Blog Post -->
                        {# <div class="single-blog-post d-flex align-items-center mb-50">
                            {% for article in freeArticles %}
                            <div class="post-thumb">
                                <a href="#"><img src="/investments_directory/{{ article.investment }}" ></a>
                            </div>
                            <div class="post-data">
                                <a href="/articles/{{ article.id }}" class="post-title">
                                    <h6>{{ article.title }}</h6>
                                </a>
                                <div class="post-meta">
                                    <p class="post-date"><a href="#">{{article.published|date("d.m.Y H:i:s")}}</a></p>
                                </div>
                            </div>
                            {% endfor %}
                        </div> #}

                       
                    </div>
                </div>

            </div>
        </div>
     </div>
    <div class="viral-story-blog-post section-padding-0-50">
     
        <div class="container">
        
            <div class="row">
           
                <!-- Blog Posts Area -->
                <div class="col-12 col-lg-8 section-padding-50">
                    <div class="row">
                        {% for article in threeArticles %}      
                        <!-- Single Blog Post -->
                        <div class="col-12 col-lg-6">
                            <div class="single-blog-post style-3">
                                <!-- Post Thumb -->
                                <div class="post-thumb">
                                    <a href="#"><img src="/investments_directory/{{ article.investment }}"</a>
                                </div>
                                <!-- Post Data -->
                                <div class="post-data">
                                    <a href="#" class="post-catagory">{{ article.type }}</a>
                                    <a href="/articles/{{ article.id }}" class="post-title">
                                        <h6>{{ article.title }}</h6>
                                    </a>
                                    <div class="post-meta">
                                        <p class="post-author">By <a href="#">Пользователь 1</a></p>
                                        <p class="post-date">{{article.published|date("d.m.Y H:i:s")}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                       
                    </div>

                   
                </div>

                <!-- Sidebar Area -->
                <div class="col-12 col-lg-4">
                    <div class="sidebar-area">

                       
                        </div>

                        <!-- Add Widget
                        <div class="add-widget mb-70">
                            <a href="#"><img src="img/bg-img/add.png" alt=""></a>
                        </div> -->

                        <!-- Latest Comments -->
                        <div class="latest-comments-widget section-padding-50">
                            <h4>Последние комментарии</h4>

                            <!-- Single Comment Widget -->
                            <div class="single-comments d-flex">
                             {% for comment in oneComments %}
                                <div class="comments-thumbnail">
                                    <img src="img/bg-img/t1.jpg" alt="">
                                </div>
                                <div class="comments-text">
                                    <a href="/articles/{{ comment.article_id }}"><span></span>{{ comment.text }}</a>
                                    <p>{{ comment.added|date("m.d.Y H:i:s") }}</p>
                                </div>
                                 {% endfor %}
                            </div>

                            <!-- Single Comment Widget -->
                            <div class="single-comments d-flex">
                                {% for comment in twoComments %}
                                <div class="comments-thumbnail">
                                    <img src="img/bg-img/t1.jpg" alt="">
                                </div>
                                <div class="comments-text">
                                    <a href="/articles/{{ comment.article_id }}"><span></span>{{ comment.text }}</a>
                                    <p>{{ comment.added|date("m.d.Y H:i:s") }}</p>
                                </div>
                                 {% endfor %}
                            </div>

                            <!-- Single Comment Widget -->
                            <div class="single-comments d-flex">
                                {% for comment in threeComments %}
                                <div class="comments-thumbnail">
                                    <img src="img/bg-img/t1.jpg" alt="">
                                </div>
                                <div class="comments-text">
                                    <a href="/articles/{{ comment.article_id }}"><span></span>{{ comment.text }}</a>
                                    <p>{{ comment.added|date("m.d.Y H:i:s") }}</p>
                                </div>
                                 {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
                
            {# {% for article in threeArticles %}
                <h3>{{ article.title }}</h3>
                <h3>{{ article.type }}</h3>
                <div><img src="/investments_directory/{{ article.investment }}" height="230" width="200"></div>
                <a class="article-link" href="/articles/{{ article.id }}">Перейти  к статье</a> #}
                {# {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} #}
                {# <button type="button" class="add-to-list" data-id="{{ article.id }}">Добавить комментарий</button> #}
                {# {% endif %} #}
            {# {% endfor %} #}
        {# {% endfor %} #}
   
{% endblock %}

{# {% block footerjs %}
    {# {{ encore_entry_script_tags('to-list') }} #}
{# {% endblock %} #} 